[Unit]
Description=Lunar Lions Web Application
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/LunarLionsWeb
Environment="PATH=/home/ubuntu/LunarLionsWeb/venv/bin"
ExecStart=/home/ubuntu/LunarLionsWeb/venv/bin/gunicorn -c gunicorn_config.py app:app
Restart=always

[Install]
WantedBy=multi-user.target 